* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-header {
    background-color: #1f2937;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.head-links {
    display: flex;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #f9faf8;
}